<!DOCTYPE html>
<html lang="en">
    
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Weather app</title>
      <link rel="stylesheet" href="style.css" />
    </head>

    <body>
      <div class="app-wrap">
        <header class="header">
          <h1 class="header__title">COVID-19 Logs</h1>
        </header>
        <main class="main">
          <h2>Add a record</h2>
          <form class="record-form">
            <input type="text" name="userInput" placeholder="Please describe how you are feeling today..." required/>
            <input type="submit" value="Add"/>
          </form>
          <h2>Previous Days</h2>
          <section class="log-list"></section>
      </div>
      <script src="./js/main.js"></script> 
      <!-- arc whats differnce bw adding script at bottom vs top -->
    </body>

    </html>